@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  background-image:
      linear-gradient(to right, rgba(36, 46, 54, 0.2) 2px, transparent 1px),
      linear-gradient(to bottom, rgba(36, 46, 54, 0.2) 2px, transparent 1px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}

@layer components {
  .rainbow-text {
    background-image: linear-gradient(90deg,hsl(var(--s)) 4%,color-mix(in oklch, hsl(var(--sf)), hsl(163.22deg 80% 43%)));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .editor-shadow {
    box-shadow: 0 20px 68px rgba(0, 0, 0, 0.55);
  }

  .code * {
    font-family: 'CaskaydiaCove Nerd Font';
  }

  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .bg-stripe {
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  }
  .bg-flare {
    background: linear-gradient(to right, #f12711, #f5af19);
  }
  .bg-vanusa {
    background: linear-gradient(to right, #da4453, #89216b);
  }
  .bg-sublime-light {
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
  }
  .bg-bighead {
    background: linear-gradient(to right, #c94b4b, #4b134f);
  }
  .bg-velvet-sun {
    background: linear-gradient(to right, #e1eec3, #f05053);
  }
  .bg-argon {
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
  }
  .bg-celestial {
    background: linear-gradient(to right, #c33764, #1d2671);
  }
  .bg-relay {
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  }
  .bg-crystal-clear {
    background: linear-gradient(to right, #159957, #155799);
  }
  .bg-ibiza-sunset {
    background: linear-gradient(to right, #ee0979, #ff6a00);
  }
  .bg-fresh-turboscent {
    background: linear-gradient(to right, #f1f2b5, #135058);
  }
  .bg-cheer-up-emo-kid {
    background: linear-gradient(to right, #556270, #ff6b6b);
  }
  .bg-starfall {
    background: linear-gradient(to right, #f0c27b, #4b1248);
  }
  .bg-nelson {
    background: linear-gradient(to right, #f2709c, #ff9472);
  }
  .bg-forever-lost {
    background: linear-gradient(to right, #5d4157, #a8caba);
  }
  .bg-blurry-beach {
    background: linear-gradient(to right, #d53369, #cbad6d);
  }
  .bg-influenza {
    background: linear-gradient(to right, #c04848, #480048);
  }
  .bg-jshine {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  }
  .bg-calm-darya {
    background: linear-gradient(to right, #5f2c82, #49a09d);
  }
  .bg-titanium {
    background: linear-gradient(to right, #283048, #859398);
  }
  .bg-pinky {
    background: linear-gradient(to right, #dd5e89, #f7bb97);
  }
  .bg-purple-paradise {
    background: linear-gradient(to right, #1d2b64, #f8cdda);
  }
  .bg-horizon {
    background: linear-gradient(to right, #003973, #e5e5be);
  }
  .bg-noon-to-dusk {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
  }
}
